<div class="container-fluid">
  <div class="jumbotron" *ngIf="libraryBookList?.length == 0">
    <h1 class="display-5">there are no Book the library</h1>
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let book of libraryBookList">
      <div class="card float-right">
        <div class="row">
          <div class="col-sm-4">
            <img class="d-block w-100" src="{{ book.thumbnailUrl }}" alt="" />
          </div>
          <div class="col-sm-7">
            <div class="card-block">
              <p>{{ book.title }}</p>
              <p>{{ book.description }}</p>
              <p>{{ book.numberOfCopy }} copy</p>
              <br />
              <button
                [disabled]="book.isBorrowed"
                (click)="borrowBook(book.isbn)"
                class="btn btn-primary btn-sm float-right maringup"
              >
                borrow
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
