<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card float-right">
        <div class="row">
          <div class="col-sm-4">
            <img
              class="d-block w-100"
              src="https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ.book-thumb-images/adzic.jpg"
              alt=""
            />
          </div>
          <div class="col-sm-7">
            <div class="card-block">
              <!--           <h4 class="card-title">Small card</h4> -->
              <p>Unlocking Android.</p>
              <p>
                nlocking Android: A Developer's Guide provides concise, hands-on
                instruction for the Android operating system and development
                tools. This book teaches important architectural concepts in a
                straightforward writing style and builds on this with practical
                and useful examples throughout.
              </p>
              <br />
              <a href="#" class="btn btn-primary btn-sm float-right">Borrow</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card float-right">
        <div class="row">
          <div class="col-sm-4">
            <img
              class="d-block w-100"
              src="https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ.book-thumb-images/ableson2.jpg"
              alt=""
            />
          </div>
          <div class="col-sm-7">
            <div class="card-block">
              <!--           <h4 class="card-title">Small card</h4> -->
              <p>Unlocking Android.</p>
              <p>
                nlocking Android: A Developer's Guide provides concise, hands-on
                instruction for the Android operating system and development
                tools. This book teaches important architectural concepts in a
                straightforward writing style and builds on this with practical
                and useful examples throughout.
              </p>
              <br />
              <a href="#" class="btn btn-primary btn-sm float-right">borrow</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
